<!-- ###DOCMARKDOWN### -->
<style type="text/css">
	body {
		background: #0063AF none;
	}

	#page {
		padding: 20px;
	}

	.container {
		background: none repeat scroll 0% 0% #FCFCFC;
		max-width: 800px;
		position: relative;
		border-radius: 10px;
		border: 1px solid #fff;
	}
	/* dmk farbe */
	#totop .btn {
		background-color: #0063AF;
		border-color: #FCFCFC;
		color: #FCFCFC;
	}

	a {
		color: #0063AF;
	}
</style>
<div id="page">
	<div class="container" style="max-width: 800px; position: relative;">
		<div id="totop" style="right: 18px; position: fixed; bottom: 18px;" class="">
			<a href="#page" onclick="window.scrollTo(0,0); return false;" class="btn btn-primary">Top</a>
		</div>
		<main role="main" id="content" class="">
			<article class="box">
				<div class="articletext">
					###ITEM_CONTENT###
				</div>
			</article>
		</main>
	</div>
</div>
<!-- ###DOCMARKDOWN### -->
